<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{{ meta }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
    <!-- <div id="app"></div> -->
    <script src="/dist/build.js"></script>
  </body>
</html>
